.command-btn {
    border: 1px solid rgba(26, 29, 32, 0.26);
    border-radius: 10px;
    box-shadow: rgba(46, 53, 58, 0.1) 3px 3px 0px 0px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding: 6px 16px;
    touch-action: manipulation;
    vertical-align: middle;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.command-btn.ans-btn {
    background-color: #2ea44f;
    margin-top: 10px;

}

.command-btn.definition-btn {
    background-color: steelblue;
    margin-top: 10px;
}

.command-btn.set-one-random-word-btn {
    background-color: #ffffff;
    color: #000000;
    font-size: 0.8rem;
}

/* Common words button */

.common-words-btn {
    background-color: #fff;
    border: 1px solid #d0dfdff3;
    border-radius: 9px;
    box-shadow: rgba(213, 214, 217, 0.363) 0 2px 5px 0;
    box-sizing: border-box;
    color: #101111;
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 110px;
    margin: 10px;
}

.common-words-btn:hover {
    background-color: #f7fafa;
}

/* keyboard */
.keyboard-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .3rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Segoe UI", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 12px 12px;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    touch-action: manipulation;
}

.keyboard-btn:hover {
    background-color: rgba(249, 250, 251, 0.911);
}

.keyboard-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.keyboard-btn:focus-visible {
    box-shadow: none;
}

/* random words button */
.random-words-btn {
    background-color: #9594d8;
    margin-top: 10px;
}

#show-prefix-btn {
    background-color: #1643ac;
    margin-top: 10px;
}

/* reveal answer button */
.reveal-ans-btn {
    background-color: #25287d;
    margin-top: 10px;
}

/* reveal answer button when disabled */
.reveal-ans-btn:disabled {
    cursor: not-allowed;
}